<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.clientInformation.dao.ClientInformationDao">
    <!--修改个人邀请码-->
    <update id="updateClientInvite" parameterType="com.xzsd.app.clientInformation.entity.ClientInfomationInfo">
        update t_sys_user
        set
            invite_num   = #{inviteCode},
            gmt_modified = now(),
            last_modified_by = #{userId},
            version      = version + 1
        where user_code = #{userId}
    </update>
</mapper>