<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.driverHome.dao.DriverHomeDao">
    <!--查询门店列表-->
    <select id="listDriverStores" parameterType="java.lang.String" resultType="com.xzsd.app.driverHome.entity.DriverHomeInfo">
        select
            a.store_id storeId,
            a.store_name storeName,
            a.address address,
            b.user_name userName,
            b.phone phone
        from t_info_store a
        left join t_sys_user b
        on a.user_id = b.user_code
        where a.is_deleted = 0
        and a.area_id in (
            select area_code
            from t_sys_user
            where user_code = #{userCode})
        order by a.create_time desc
    </select>
</mapper>