<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.managerOrder.dao.ManagerOrderDao">
    <!--resultMap映射-->
    <resultMap type="com.xzsd.app.clientOrder.entity.ClientOrderOutput" id="list">
        <id property="orderId" column="orderId"/>
        <result property="orderStateId" column="orderStateId"/>
        <result property="orderAllCost" column="orderAllCost"/>
        <result property="orderAllGoodsCount" column="orderAllGoodsCount"/>
        <result property="storeName" column="storeName"/>
        <result property="address" column="address"/>
        <result property="crateTime" column="crateTime"/>
        <result property="version" column="version"/>
        <collection property="goodsList" ofType="com.xzsd.app.clientOrder.entity.GoodsList" select="selectList" column="orderId">
            <id property="orderGoodsId" column="orderGoodsId"/>
            <result property="goodsName" column="goodsName"/>
            <result property="goodsImagePath" column="goodsImagePath"/>
            <result property="goodsDescribe" column="goodsDescribe"/>
            <result property="goodsPrice" column="goodsPrice"/>
            <result property="cartGoodsCount" column="cartGoodsCount"/>
            <result property="goodsId" column="goodsId"/>
        </collection>
    </resultMap>
    <!--分页查询订单列表-->
    <select id="listManagerOrders" parameterType="com.xzsd.app.clientOrder.entity.ClientOrderInfo" resultMap="list">
        select
            order_id orderId,
            order_all_cost orderAllCost,
            order_state orderStateId,
            order_goods_num orderAllGoodsCount,
            version version
        from t_info_order
        where is_deleted = 0
        and create_user in (
            select user_code
            from t_sys_user
            where invite_num in (
                select invite_code
                from t_info_store
                where user_id = #{createBy} ))
        <if test="orderStateId != null and orderStateId != ''">
            and order_state like concat('%', #{orderStateId}, '%')
        </if>
        order by create_time desc
    </select>
    <select id="selectList" parameterType="java.lang.String" resultType="com.xzsd.app.clientOrder.entity.GoodsList">
        select
            a.goods_id goodsId,
            a.goods_count cartGoodsCount,
            b.goods_name goodsName,
            b.goods_image_path goodsImagePath,
            b.goods_describe goodsDescribe,
            b.goods_price goodsPrice
        from t_info_order_deepen a
        left join t_info_goods b
        on a.goods_id = b.goods_id
        where a.is_deleted = 0
        and a.order_id = #{orderId}
        order by a.create_time desc
    </select>

    <!--修改订单状态-->
    <update id="updateManagerOrderState" parameterType="com.xzsd.app.clientOrder.entity.ClientOrderInfo">
        update t_info_order
        <set>
            order_state = #{orderStateId},
            update_time = now(),
            update_user = #{lastModifiedBy},
            version     = version + 1
        </set>
        where order_id = #{orderId}
        and version = #{version}
    </update>

    <!--查询订单详情信息-->
    <select id="listManagerOrderDeepen" parameterType="java.lang.String" resultType="com.xzsd.app.clientOrder.entity.ClientOrderOutput">
        select
            a.order_id orderId,
            b.store_name storeName,
            b.address address,
            u.user_name userName,
            u.phone phone,
            a.order_all_cost orderAllCost,
            a.order_goods_num orderAllGoodsCount,
            a.order_state orderStateId,
            a.create_time crateTime
        from
            t_info_order a
            left join t_info_store b
            on a.store_id = b.store_id
        left join t_sys_user u
        on a.create_user = u.user_code
        where a.order_id = #{orderId}
        and a.is_deleted = 0
    </select>
</mapper>