<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.client.dao.ClientDao">
    <!--分页查询客户信息列表（管理员）-->
    <select id="listClients" parameterType="com.xzsd.pc.client.entity.ClientInfo" resultType="com.xzsd.pc.client.entity.ClientInfo">
        select
            a.client_account userAcct,
            a.client_name userName,
            a.sex sex,
            a.phone phone,
            a.e_mail mail,
            a.id_card_number idCard,
            a.client_code userId
        from t_client_command a
        where a.is_deleted = 0
        <if test="userName != null and userName != ''">
            and a.client_name like concat('%', #{userName}, '%')
        </if>
        <if test="userAcct != null and userAcct != ''">
            and a.client_account like concat('%', #{userAcct}, '%')
        </if>
        order by a.create_time desc
    </select>

    <!--分页查询客户信息列表（店长）-->
    <select id="listClientRole2" parameterType="com.xzsd.pc.client.entity.ClientInfo" resultType="com.xzsd.pc.client.entity.ClientInfo">
        select
            a.client_account userAcct,
            a.client_name userName,
            a.sex sex,
            a.phone phone,
            a.e_mail mail,
            a.id_card_number idCard,
            a.client_code userId
        from t_client_command a
        where a.is_deleted = 0
        and invite_num in (
          select
            invite_code
          from
            t_info_store
          where
            user_id = #{createBy}
        )
        <if test="userName != null and userName != ''">
            and a.client_name like concat('%', #{userName}, '%')
        </if>
        <if test="userAcct != null and userAcct != ''">
            and a.client_account like concat('%', #{userAcct}, '%')
        </if>
        order by a.create_time desc
    </select>
</mapper>