<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.dao.DriverDao">
    <!--统计司机账号数量-->
    <select id="countUserAcct" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="int">
        select count(driver_account)
        from t_driver_message_command
        where is_deleted = 0
        and driver_account = #{userAcct}
        <if test="driverId != null and driverId != ''">
            and driver_code != #{driverId}
        </if>
    </select>

    <!--新增司机-->
    <insert id="addDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into t_driver_message_command
            (driver_code,
            driver_name,
            driver_account,
            driver_password,
            driver_id_card_number,
            driver_phone,
            province_code,
            city_code,
            area_code,
            image_path,
            is_deleted,
            create_time,
            create_by,
            update_time,
            update_by,
            version)
            values
            (#{driverId},
            #{userName},
            #{userAcct},
            #{userPassword},
            #{idCard},
            #{phone},
            #{provinceId},
            #{cityId},
            #{areaId},
            #{isDeleted},
            now(),
            #{createBy},
            now(),
            #{lastModifiedBy},
            0)
    </insert>

    <!--分页查询司机列表（管理员）-->
    <select id="listDrivers" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        select
            a.driver_code driverId,
            a.driver_name userName,
            a.driver_phone phone,
            a.driver_id_card_number idCard,
            a.driver_account userAcct,
            a.version
        from t_driver_message_command a
        where a.is_deleted = 0
        <if test="driverId != null and driverId != ''">
            and a.driver_code like concat('%', #{driverId}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and a.driver_name like concat('%', #{userName}, '%')
        </if>
        <if test="provinceId != null and provinceId != ''">
            and a.province_code like concat('%', #{provinceId}, '%')
        </if>
        <if test="cityId != null and cityId != ''">
            and a.city_code like concat('%', #{cityId}, '%')
        </if>
        <if test="areaId != null and areaId != ''">
            and a.area_code like concat('%', #{areaId}, '%')
        </if>
        order by a.create_time desc
    </select>

    <!--查询司机列表（店长）-->
    <select id="listDriverRole2" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        select
            a.driver_code driverId,
            a.driver_name userName,
            a.driver_phone phone,
            a.driver_id_card_number idCard,
            a.driver_account userAcct,
            a.version
        from t_driver_message_command a
        left join t_info_store b
        on a.area_code = b.area_id
        where a.is_deleted = 0
        and b.is_deleted = 0
        and b.user_id = #{createBy}
        <if test="driverId != null and driverId != ''">
            and a.driver_code like concat('%', #{driverId}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and a.driver_name like concat('%', #{userName}, '%')
        </if>
    </select>

    <!--查询司机详情信息-->
    <select id="getDriver" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        select
            a.driver_code driverId,
            a.driver_name userName,
            a.driver_phone phone,
            a.driver_account userAcct,
            a.driver_password userPassword,
            a.image_path userImage,
            a.driver_id_card_number idCard,
            a.province_code provinceId,
            a.city_code cityId,
            a.area_code areaId,
            c.area_name provinceName,
            d.area_name cityName,
			e.area_name areaName,
            a.version
        from
			t_driver_message_command a
        left join
			((t_info_area_level c
			left join t_info_area_level d
			on d.parent_id = c.area_id)
            left join t_info_area_level e
			on d.area_id = e.parent_id)
		on a.area_code = e.area_id
        where a.driver_code = #{driverId}
        and a.is_deleted = 0
    </select>

    <!--修改司机-->
    <update id="updateDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_driver_message_command
        set
            driver_name           = #{userName},
            driver_phone          = #{phone},
            driver_account        = #{userAcct},
            driver_password       = #{userPassword},
            image_path            = #{imagePath},
            driver_id_card_number = #{idCard},
            province_code         = #{provinceId},
            city_code             = #{cityId},
            area_code             = #{areaId},
            update_by             = #{lastModifiedBy},
            version               = version + 1
        where driver_code = #{driverId}
        and version = #{version}
    </update>

    <!--删除司机-->
    <update id="deleteDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_driver_message_command
        set
            is_deleted  = 1,
            update_time = now(),
            update_by = #{userCode},
            version     = version + 1
        where driver_code in
        <foreach item="driverId" index="index" collection="listId" open="(" separator="," close=")">
            #{driverId}
        </foreach>
    </update>
</mapper>