<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.selectCombox.dao.SelectComboxDao">
   <!--查询省市区下拉框-->
    <select id="listArea" parameterType="java.lang.String" resultType="com.xzsd.pc.selectCombox.entity.SelectComboxInfo">
        select
            a.area_id areaId,
            a.area_name areaName
        from t_info_area_level a
        where a.is_deleted = 0
        and a.parent_id = #{areaId}
        order by a.create_time desc
    </select>
</mapper>
