<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.dao.DriverDao">
    <!--统计司机账号数量-->
    <select id="countUserAcct" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="int">
        select count(user_acct)
        from t_sys_user
        where is_deleted = 0
        and user_acct = #{userAcct}
        <if test="driverId != null and driverId != ''">
            and user_code != #{driverId}
        </if>
    </select>

    <!--新增司机-->
    <insert id="addDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into t_sys_user
            (
            user_code,
            user_name,
            user_acct,
            user_pwd,
            id_card,
            phone,
            role,
            province_code,
            city_code,
            area_code,
            user_image,
            is_deleted,
            gmt_create,
            create_by,
            gmt_modified,
            last_modified_by,
            version
            )
        values
            (
            #{driverId},
            #{userName},
            #{userAcct},
            #{userPassword},
            #{idCard},
            #{phone},
            3,
            #{provinceId},
            #{cityId},
            #{areaId},
            #{userImage},
            #{isDeleted},
            now(),
            #{createBy},
            now(),
            #{lastModifiedBy},
            0
            )
    </insert>

    <!--分页查询司机列表（管理员）-->
    <select id="listDrivers" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        select
            a.user_code driverId,
            a.user_name userName,
            a.phone phone,
            a.id_card idCard,
            a.user_acct userAcct,
            a.version
        from t_sys_user a
        where a.is_deleted = 0
        and a.role = 3
        <if test="driverId != null and driverId != ''">
            and a.user_code like concat('%', #{driverId}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and a.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="provinceId != null and provinceId != ''">
            and a.province_code like concat('%', #{provinceId}, '%')
        </if>
        <if test="cityId != null and cityId != ''">
            and a.city_code like concat('%', #{cityId}, '%')
        </if>
        <if test="areaId != null and areaId != ''">
            and a.area_code like concat('%', #{areaId}, '%')
        </if>
        order by a.gmt_create desc
    </select>

    <!--查询司机列表（店长）-->
    <select id="listDriverRole2" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        select
            a.user_code driverId,
            a.user_name userName,
            a.phone phone,
            a.id_card idCard,
            a.user_acct userAcct,
            a.version
        from t_sys_user a
        left join t_info_store b
        on a.area_code = b.area_id
        where a.is_deleted = 0
        and b.is_deleted = 0
        and a.role = 3
        and b.user_id = #{createBy}
        <if test="driverId != null and driverId != ''">
            and a.user_code like concat('%', #{driverId}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and a.user_name like concat('%', #{userName}, '%')
        </if>
        order by a.gmt_create desc
    </select>

    <!--查询司机详情信息-->
    <select id="getDriver" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        select
            a.user_code driverId,
            a.user_name userName,
            a.phone phone,
            a.user_acct userAcct,
            a.user_pwd userPassword,
            a.user_image userImage,
            a.id_card idCard,
            a.province_code provinceId,
            a.city_code cityId,
            a.area_code areaId,
            c.area_name provinceName,
            d.area_name cityName,
			e.area_name areaName,
            a.version
        from
			t_sys_user a
        left join
			((t_info_area_level c
			left join t_info_area_level d
			on d.parent_id = c.area_id)
            left join t_info_area_level e
			on d.area_id = e.parent_id)
		on a.area_code = e.area_id
        where a.user_code = #{driverId}
        and a.is_deleted = 0
    </select>

    <!--修改司机-->
    <update id="updateDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_sys_user
        set
            user_name         = #{userName},
            phone             = #{phone},
            user_acct         = #{userAcct},
            user_pwd          = #{userPassword},
            user_image        = #{imagePath},
            id_card           = #{idCard},
            province_code     = #{provinceId},
            city_code         = #{cityId},
            area_code         = #{areaId},
            last_modified_by  = #{lastModifiedBy},
            version           = version + 1
        where user_code = #{driverId}
        and version = #{version}
    </update>

    <!--删除司机-->
    <update id="deleteDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_sys_user
        set
            is_deleted       = 1,
            gmt_modified     = now(),
            last_modified_by = #{userCode},
            version          = version + 1
        where user_code in
        <foreach item="driverId" index="index" collection="listId" open="(" separator="," close=")">
            #{driverId}
        </foreach>
    </update>
</mapper>